server {
    listen 80;
    listen 443 ssl;
    server_name integrations.convertful.local;

    # Must be a symlink to actual application public
    root /var/www/integrations-dev/public/;
    ssl_certificate /var/www//integrations-dev/integrations.convertful.local.crt;
    ssl_certificate_key /var/www//integrations-dev/integrations.convertful.local.key;
    error_log /var/www/integrations-dev/application/logs/error.log notice;

    index index.php;
    client_max_body_size 2m;
    location / {
        try_files $uri /index.php?$query_string;
        # Required for compatibility with Virualbox
        sendfile off;
    }
    location = /index.php {
        include fastcgi.conf;
        fastcgi_pass unix:/run/php/php7.0-fpm.sock;
        fastcgi_index index.php;
    }
}
